name: Action - Firebase functions publish
on:
  workflow_call:
    inputs:
      node_version:
        description: 'The Node version used (ex: 22.x)'
        required: true
        type: string
      function_path:
        description: 'Path of the Firebase functions'
        required: true
        type: string
      function_urls:
        description: 'Firebase functions monitoring'
        required: true
        type: string
jobs:
  deploy:
    environment:
      name: firebase-function
      url: ${{ inputs.function_urls }}
    runs-on: ubuntu-latest
    name: 'Deploy Firebase functions'
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v5.0.1
      - name: 'Decrypt secret configuration'
        run: ./.github/scripts/decrypt_secret.sh
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: 'Check secret configuration'
        run: ./.github/scripts/check_secrets_decryption.sh
      - name: 'Setup Node / NPM'
        uses: actions/setup-node@v5
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: 'Install firebase-tools'
        run: npm install -g firebase-tools
      - name: 'Install npm packages'
        run: |
          cd ${{ inputs.function_path }}/functions
          npm ci
      - name: 'Publish'
        run: |
          cd ${{ inputs.function_path }}
          firebase deploy --only functions
        env:
          GOOGLE_APPLICATION_CREDENTIALS: '${{ github.workspace }}/${{ vars.GOOGLE_APPLICATION_CREDENTIALS }}'
