name: Action - Firebase functions lint
on:
  workflow_call:
    inputs:
      node_version:
        description: 'The Node version used (ex: 22.x)'
        required: true
        type: string
      function_path:
        description: 'Path of the Firebase functions'
        required: true
        type: string
jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v5.0.0
      - name: 'Decrypt secret configuration'
        run: ./.github/scripts/decrypt_secret.sh
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: 'Check secret configuration'
        run: ./.github/scripts/check_secrets_decryption.sh
      - name: 'Setup Node / NPM'
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: 'Install firebase-tools'
        run: npm install -g firebase-tools@14.4.0
      - name: 'Install npm packages'
        run: |
          cd ${{ inputs.function_path }}/functions
          npm ci
      - name: 'Lint'
        run: |
          cd ${{ inputs.function_path }}/functions
          npm run lint
