name: Action - Go Build
on:
  workflow_call:
    inputs:
      go_version:
        description: 'The Go version used (ex: 1.21.4)'
        required: true
        type: string
jobs:
  build:
    name: 'Go build'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            os_small: win
            arch: amd64
          - os: ubuntu-latest
            os_small: linux
            arch: amd64
          - os: macos-latest
            os_small: darwin
            arch: amd64
    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v5.0.0
      - name: 'Setup Go action'
        uses: actions/setup-go@v6.0.0
        with:
          go-version: ${{ inputs.go_version }}
      - name: 'Go build (matrix)'
        run: go build -o ${{ github.event.repository.name }}_${{ matrix.os_small }}_${{ matrix.arch }} -v
      - name: 'Upload artifact'
        uses: actions/upload-artifact@v5.0.0
        with:
          name: ${{ github.event.repository.name }}_binary_${{ matrix.os_small }}_${{ matrix.arch }}
          path: ${{ github.event.repository.name }}_${{ matrix.os_small }}_${{ matrix.arch }}
